n8n_experiments/lkCaLo2XxbWpunaF.json
{
  "updatedAt": "2025-12-12T00:03:16.418Z",
  "createdAt": "2025-12-11T23:38:25.949Z",
  "id": "lkCaLo2XxbWpunaF",
  "name": "hello-world-webhook",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a36b9678-cbc6-4bee-aa20-fa1f77118b39",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        416,
        -496
      ],
      "id": "8940e0b6-7adc-4729-9bfc-079ce2b450ac",
      "name": "Webhook",
      "webhookId": "a36b9678-cbc6-4bee-aa20-fa1f77118b39"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        960,
        816
      ],
      "id": "9adb7883-1607-4cab-a3b7-35daba576fa2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "🌐 WEBHOOK (POST)\nReads JSON under body.*\n\nExpected keys:\n- query (string, required)\n- username (string, recommended) → session key\n\nExample body:\n{\n  \"query\": \"Two fun facts about Sydney\",\n  \"username\": \"demo-user-1\"\n}\n",
        "height": 200,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        592
      ],
      "typeVersion": 1,
      "id": "dee9bfed-fd44-4923-9acf-a52327a93757",
      "name": "Overview Explanation1"
    },
    {
      "parameters": {
        "content": "↩️ RESPOND TO WEBHOOK\nReturns AI reply to the caller\n- Plain text or small JSON (config)\n- Keep it simple for this level\n",
        "height": 120,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1088,
        688
      ],
      "typeVersion": 1,
      "id": "b13a11bf-866e-4de4-a82e-2fbaf09144f9",
      "name": "Overview Explanation2"
    },
    {
      "parameters": {
        "content": "🧠 AI AGENT\n- Shows how wording changes the response\n- Vague → general cloud/AWS answer\n- Specific → tailored AWS/S3 answer\n- Keeps replies short, clear, 2–3 sentences\n",
        "height": 184,
        "width": 304,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        672,
        608
      ],
      "typeVersion": 1,
      "id": "6f7eb239-cff5-4ee4-a907-fea62f5f145f",
      "name": "Overview Explanation3"
    },
    {
      "parameters": {
        "content": "🗂️ MEMORY (window)\nsessionKey = body.username\n- Same username → shared context across calls\n- Different username → fresh session\n",
        "height": 136,
        "width": 288,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        1024
      ],
      "typeVersion": 1,
      "id": "e3cef776-cb3f-45cb-bc2a-14495d453df5",
      "name": "Overview Explanation4"
    },
    {
      "parameters": {
        "content": "🤖 OPENROUTER CHAT MODEL\nModel: deepseek-chat\n- Fast & Free Tier\n- Temperature ~0.2 for consistency\n",
        "height": 104,
        "width": 288,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        240,
        1008
      ],
      "typeVersion": 1,
      "id": "6f1f0fad-993a-4b68-9e9a-9c70bca03340",
      "name": "Overview Explanation5"
    },
    {
      "parameters": {
        "content": "# Basic Webhook → OpenRouter (with Memory)\n\n🔌 **Entry Point**\n- Client sends **POST JSON** to the n8n **Webhook**\n- Reads `body.query` (required) and `body.username` (recommended)\n- Workflow must be **Active** → use the **Production URL**\n\n🧠 AI Agent\n- Short, plain-English replies (2–3 sentences)\n- If vague → general cloud/AWS answer + suggest adding detail\n- If specific → provide a more tailored AWS/S3-focused answer\n\n🤖 **OpenRouter**\n- Model: deepseek-chat\n- Fast and Free Tier\n- Tip: temperature ≈ **0.2** for consistency\n\n🗂️ **Memory**\n- `sessionKey = body.username`\n- Same username → shared context across calls\n- Different username → fresh session\n\n↩️ **Response**\n- Returns the AI reply to the caller (plain text or small JSON)\n\n🧪 **Test Quickly**\n- cURL / Postman / Colab (make a copy → paste **Production** Webhook URL into `url`/`WEBHOOK_URL`)\n\n🔐 **Notes**\n- Don’t send secrets in `query`\n- Ensure `Content-Type: application/json`\n- Rate limiting / auth can be added in later levels\n",
        "height": 736,
        "width": 1216,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -336,
        256
      ],
      "typeVersion": 1,
      "id": "c3cc3f7d-a07e-46d7-88d0-899aab8b5326",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {
          "systemMessage": "You are an **AI Agent** for demonstrating how wording in a prompt changes the response.\n\nRules:\n- Keep replies short (2–3 sentences).\n- Use clear, everyday language.\n- If the request is vague, give a general answer and point out that adding detail would improve it.\n- If the request is more specific, show how the answer becomes more tailored.\n- Prefer using AWS-related examples when relevant.\n\nExamples:\nUser: \"Tell me about the cloud\"\nAI: \"Cloud computing means using servers on the internet for storage and compute instead of running everything yourself.\"\nAI note: \"That was general because the prompt was general.\"\n\nUser: \"Tell me about AWS storage\"\nAI: \"AWS offers storage services like S3 for objects, EBS for block storage, and Glacier for archiving.\"\nAI note: \"Adding 'AWS storage' narrowed the focus.\"\n\nUser: \"Tell me about S3 storage classes\"\nAI: \"Amazon S3 has classes like Standard, Infrequent Access, and Glacier, each optimized for different cost and access needs.\"\nAI note: \"The extra detail about S3 storage classes shaped the answer.\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        608,
        816
      ],
      "id": "d55a1552-faa4-4376-8ccd-74ed7f76a37a",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.username }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        720,
        1024
      ],
      "id": "ee11d679-7a6b-4519-a3cf-8d23c6c3bfe8",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d07234fb-2723-4a87-bb36-5503e89213b6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        384,
        816
      ],
      "id": "2d22c365-bcb2-44a2-a0fc-fac45ae680ec",
      "name": "Webhook1",
      "webhookId": "d07234fb-2723-4a87-bb36-5503e89213b6"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        1024
      ],
      "id": "8dba2857-7380-44f0-a3a9-21aec9d0eb53",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "zIg2p4llPUUK21VO",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1184,
        -496
      ],
      "id": "c39e2db6-999f-4120-9f99-592f578c2f89",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        624,
        -496
      ],
      "id": "f5a30624-d6b0-4746-ab13-eb2b4773328f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        496,
        -288
      ],
      "id": "20ab8d7c-4010-4a10-bd34-d99ff75d3083",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "zIg2p4llPUUK21VO",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.username }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        -288
      ],
      "id": "8cb2d8c7-babc-4448-93d3-ed81aa7041ad",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "query": "Tell me two fun facts about Sydney.",
            "username": "demo-user-1"
          }
        }
      }
    ]
  },
  "versionId": "79aaf6ed-8bd4-494b-8c52-db3077ee9050",
  "activeVersionId": "79aaf6ed-8bd4-494b-8c52-db3077ee9050",
  "versionCounter": 8,
  "triggerCount": 2,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-11T23:38:25.957Z",
      "createdAt": "2025-12-11T23:38:25.957Z",
      "role": "workflow:owner",
      "workflowId": "lkCaLo2XxbWpunaF",
      "projectId": "mrsSb7JCmN7gKdEx",
      "project": {
        "updatedAt": "2025-12-11T22:06:23.542Z",
        "createdAt": "2025-12-11T22:04:08.274Z",
        "id": "mrsSb7JCmN7gKdEx",
        "name": "Sreehari Nambiar <sreehari.nambiar@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}