n8n_experiments/xvjC36fAOsmK5b00.json
{
  "updatedAt": "2025-12-14T04:33:26.259Z",
  "createdAt": "2025-12-13T23:32:12.096Z",
  "id": "xvjC36fAOsmK5b00",
  "name": "internet search",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d33cbd47-473f-46eb-8d0d-8199ac03664d",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1136,
        5360
      ],
      "id": "d5e9f0fb-df2f-40d5-91d0-3eba49ce3251",
      "name": "Webhook",
      "webhookId": "d33cbd47-473f-46eb-8d0d-8199ac03664d"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -448,
        5360
      ],
      "id": "1c4ad0c8-ec37-46ec-92d6-360bfa1b93b7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Agent specialized in grtting news updated from internet.\nYou MUST NOT answer from your own model knowledge. All answers must come from tools.\n\nAVAILABLE TOOLS\n- Internet Search\n\nANSWERING STYLE\n- Plain English; concise (2–3 sentences + optional bullets).\n- Include the hyperlinks of the news as citation\n\nSAFETY\n- No secrets/credentials/destructive steps. Remind users that AWS features/pricing can change; verify in official docs.\n\nContext:\nUser Query: {{ $json.body.query }}\nCurrent Date/Time: {{ $now }}\nCurrent Year: 2025",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -856,
        5360
      ],
      "id": "9867df82-eec7-450b-a6cf-24b6e93080cb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -912,
        5584
      ],
      "id": "28e11c17-c2a3-491e-b1ca-0d8d80bcd72e",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "zIg2p4llPUUK21VO",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.user_name }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -784,
        5584
      ],
      "id": "9dc11f09-e244-40f3-a1e5-f3a56ed67444",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "q",
              "value": "={{ $json.body.query }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -656,
        5584
      ],
      "id": "498624e0-1453-4fb8-b8d9-ea901ea53dcb",
      "name": "Internet Search",
      "credentials": {
        "serpApi": {
          "id": "UO8a1JzBnuqufRWM",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Internet Search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "body": {
            "user_name": "shn",
            "query": "ADPNews in past 7 days"
          }
        }
      }
    ]
  },
  "versionId": "6bc32cbc-4af5-4604-8897-4b5ee0ae5a6c",
  "activeVersionId": "6bc32cbc-4af5-4604-8897-4b5ee0ae5a6c",
  "versionCounter": 21,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-12-13T23:32:12.103Z",
      "createdAt": "2025-12-13T23:32:12.103Z",
      "role": "workflow:owner",
      "workflowId": "xvjC36fAOsmK5b00",
      "projectId": "mrsSb7JCmN7gKdEx",
      "project": {
        "updatedAt": "2025-12-11T22:06:23.542Z",
        "createdAt": "2025-12-11T22:04:08.274Z",
        "id": "mrsSb7JCmN7gKdEx",
        "name": "Sreehari Nambiar <sreehari.nambiar@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}